@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section.hero {
    padding: 80px 0;
}

section.hero .text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 48px;
    line-height: 73px;
    color: black;
}

.button {
    padding-top: 69px;
    text-align: center;
}

.button .btn {
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    padding: 10px 30px;
    margin: 0 10px 0 0;
}

@media (max-width: 768px) {
    section.hero {
        text-align: center;
        padding: 40px 0;
    }
    section.hero .text {
        font-size: 32px;
        line-height: 48px;
    }
    .button .btn {
        margin: 0 0 10px 0;
    }
    .button .ms-3 {
        margin: 0 !important;
    }
}

.navbar-brand {
    background-image: url("./images/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0 30px;
    width: 148px;
    height: 48px;
}

.navbar-nav .nav-item:hover {
    background-color: rgba(180, 190, 203, 0.4);
}

.section-title {
    display: block;
    width: 100%;
    margin-bottom: 60px;
    text-align: center;
}

.section-title h2 {
    position: relative;
    display: inline-block;
    margin: 0;
    padding-bottom: 15px;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
}

.section-title h2:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 2px;
    right: 0;
    margin: 0 auto;
    background-color: #fff;
}


/* Work With Us  */

.workWithUsName {
    font-size: 36px;
    font-weight: 700px;
    color: #4a33a5;
    text-decoration: underline;
    font-weight: bold;
}

.card.sd {
    border: none;
}

.row {
    margin: auto;
}

.cdfont {
    font-size: 0.9rem;
}

.centered-element {
    display: flex;
    align-items: center;
}

.centered-element-first {
    display: flex;
    align-items: center;
}

.iconsandreasons {
    width: 50%;
}

.firsticonclass {
    padding-bottom: 5rem;
}

@media (max-width:991px) {
    .centered-element-first {
        display: block;
    }
}

@media (max-width:780px) {
    .iconsandreasons {
        width: 100%;
        text-align: center;
    }
    .centered {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}


/* Team Member Started  */

#team {
    padding: 30px 0;
}

.single-box {
    border: 1px solid #ddd;
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

.info-area {
    padding: 0 8px 0px;
}

.img-area {
    overflow: hidden;
    padding: 15px 0 15px;
}

.img-area img {
    margin: 0 auto;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    max-width: 180px;
    max-height: 180px;
}

.info-area .socials {
    font-size: 1.2rem;
}

.team-slider .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -60px;
    text-align: center;
    width: 100%;
}

.team-slider button.owl-dot {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 0 6px;
    text-align: center;
    border-radius: 50%;
    background-color: #262626;
}

.team-slider .owl-dot.active {
    background-color: coral;
}


/* Team Member Ended  */


/*----------------------------------------
  Footer
  ----------------------------------------*/

.footer {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.footer .copy-text {
    color: #000;
    margin: 8px 0;
    font-size: 15px;
    text-transform: capitalize;
}

.swiper-slide img {
    height: 280px;
    width: 280px;
    object-fit: cover;
}

.three-column-images {
    margin-top: 60px;
    background: white;
}

.three-column-images .row {
    text-align: center;
}

.three-column-images img {
    margin-bottom: 10px;
    margin-top: 20px;
    width: 500px;
    height: 350px;
}

.three-column-images a {
    font-weight: bold;
}

.work {
    text-align: center;
    color: slateblue;
}

.smooth-offset-box-shadow:hover {
    background-color: crimson;
    transition: all 1s;
    box-shadow: 0 0 20px 20px #2f2f2f;
}

.whatwedo {
    position: absolute;
    top: 215%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #4a33a5;
    border-bottom: 5px solid #4a33a5;
    padding-bottom: 5px;
}

.ourwork {
    margin-top: 50px;
    position: absolute;
    top: 280%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #4a33a5;
    border-bottom: 5px solid #4a33a5;
    z-index: 2;
    padding-bottom: 5px;
}

.aboutus {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #4a33a5;
    border-bottom: 5px solid #4a33a5;
    padding-bottom: 5px;
}

.ContactUs,
.tittlehead {
    position: relative;
    position: relative;
    display: inline-block;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    color: #4a33a5;
    text-decoration: underline;
    padding: 30px 10px 30px 10px;
}

.contact-item .c-icon {
    position: relative;
    top: 6px;
    width: 60px;
    height: 60px;
    float: left;
    background-color: #000000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.contact-item .c-icon .fa {
    font-size: 20px;
    line-height: 58px;
    color: #ffffff;
}

.contact-item .c-text {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 70px;
}

.contact-item .c-text h5 {
    margin: 0;
    margin-bottom: 2px;
    font-size: 13px;
    text-transform: uppercase;
}

.contact-item .c-text h6 {
    margin: 0;
    word-break: break-all;
}