@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.about {
    font-family: Montserrat, sans-serif;
    Font-size: 19px;
    background: #ffffff;
    height: 100vh;
    padding-top: 1%;
}

.main h1 {
    font-family: Montserrat, sans-serif;
    padding-top: 50%;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #000;
}

.main button,
.about button {
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    background: #000;
    display: inline-block;
    padding: 10px 30px;
    border: none;
    outline: none;
    margin-left: 30%;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #fff;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.navbar-brand {
    background-image: url("growr\ logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 148px;
    height: 48px;
}

.navbar-nav .nav-item:hover {
    background-color: rgba(180, 190, 203, 0.4);
}

.section-title {
    display: block;
    width: 100%;
    margin-bottom: 60px;
    text-align: center;
}

.section-title h2 {
    position: relative;
    display: inline-block;
    margin: 0;
    padding-bottom: 15px;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
}

.section-title h2:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 2px;
    right: 0;
    margin: 0 auto;
    background-color: #fff;
}

.WorkWithUs {
    margin-top: 60px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border: none;
}

.workWithUsContent {
    font-size: 14px;
}

.card.mb-1.mt-5 {
    top: 2%;
    /* padding: 20%; */
    border: none;
}

.workWithUsName {
    /* align-items: center; */
    /* width: 100px; */
    /* position: absolute; */
    /* margin-left: 45px; */
    /* left: 35%; */
    /* right: 35%; */
    /* top: 50px; */
    margin-top: -90px;
    position: absolute;
    top: 440%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #4a33a5;
    border-bottom: 5px solid #4a33a5;
    z-index: 2;
    padding-bottom: 5px;
    /* text-decoration: underline 3px #4A33A5; */
}

.teamMemberPage {
    height: 100vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    background: #ffffff;
}

.teamName {
    position: absolute;
    /* top: 345%; */
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #4a33a5;
    border-bottom: 5px solid #4a33a5;
    /* text-decoration: underline 3px #4A33A5; */
}

.TeamMemberSpan {
    position: relative;
    height: 450px;
    width: 1075px;
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.swiper {
    width: 900px;
}

section .cardsd .image {
    height: 135px;
    width: 120px;
    border-radius: 50%;
    padding: 2px;
    background: #4a33a5;
}

section .cardsd .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 70%;
    border: 3px solid #ffffff;
}

.cardsd {
    position: relative;
    /* background: #FFFFFF; */
    border: none;
    /* width: 220px; */
}

.cardsd::before {
    content: "";
    position: absolute;
    height: 60%;
    width: 90%;
    background: #4a33a5;
    border-radius: 20px 20px 20px 20px;
    margin-top: 100px;
    margin-left: 10px;
    box-shadow: 5px 5px 5px 0 gray;
    /* margin-right: 30px; */
}

.cardsd .cardsd-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35.8px;
    position: relative;
    z-index: 100;
    flex-wrap: wrap;
}

.cardsd .media-icons {
    position: absolute;
    display: flex;
    top: 220px;
    flex-direction: row;
    align-items: center;
    padding: auto;
    text-align: center;
}

.cardsd .media-icons i {
    /* color: #fff; */
    opacity: 0.9;
    transition: all 0.3s ease;
    cursor: pointer;
    padding: 9px;
    color: #ffffff;
    size: 50px;
}

.cardsd .media-icons i:hover {
    opacity: 2;
}

.cardsd .name-profession {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7px;
    color: #ffffff;
}

.name-profession .name {
    font-size: 20px;
    font-weight: 600;
}

.name-profession .profession {
    font-size: 17px;
    font-weight: 500;
}

.swiper-pagination-bullet {
    height: 10px;
    width: 10px;
    border-radius: 25px;
    background-color: #4a33a5;
}

.swiper-button-next,
.swiper-button-prev {
    opacity: 0.7;
    color: #4a33a5;
    transition: all 0.3 ease-in;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    opacity: 1;
    color: #4a33a5;
}

.fa-brands::before {
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    .card {
        margin: 0 10px;
    }
    .swiper-button-next.sd,
    .swiper-button-prev.sd {
        display: none;
    }
}


/*----------------------------------------
  Footer
  ----------------------------------------*/

.footer {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.footer .copy-text {
    color: #000;
    margin: 8px 0;
    font-size: 15px;
    text-transform: capitalize;
}

.swiper-slide img {
    height: 280px;
    width: 280px;
    object-fit: cover;
}

.three-column-images {
    margin-top: 60px;
    background: white;
}

.three-column-images .row {
    text-align: center;
}

.three-column-images img {
    margin-bottom: 10px;
    margin-top: 20px;
    width: 500px;
    height: 350px;
}

.three-column-images a {
    font-weight: bold;
}

.work {
    text-align: center;
    color: slateblue;
}

.smooth-offset-box-shadow:hover {
    background-color: crimson;
    transition: all 1s;
    box-shadow: 0 0 20px 20px #2f2f2f;
}

.whatwedo {
    position: absolute;
    top: 215%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #4a33a5;
    border-bottom: 5px solid #4a33a5;
    padding-bottom: 5px;
}

.ourwork {
    margin-top: 50px;
    position: absolute;
    top: 280%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #4a33a5;
    border-bottom: 5px solid #4a33a5;
    z-index: 2;
    padding-bottom: 5px;
}

.aboutus {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #4a33a5;
    border-bottom: 5px solid #4a33a5;
    padding-bottom: 5px;
}

.ContactUs {
    position: absolute;
    top: 310%;
    left: 10%;
    transform: translateX(-50%) translateY(-50%);
    color: #4a33a5;
    border-bottom: 5px solid #4a33a5;
    padding-bottom: 5px;
}

.contact-item .c-icon {
    position: relative;
    top: 6px;
    width: 60px;
    height: 60px;
    float: left;
    background-color: #000000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.contact-item .c-icon .fa {
    font-size: 20px;
    line-height: 58px;
    color: #ffffff;
}

.contact-item .c-text {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 70px;
}

.contact-item .c-text h5 {
    margin: 0;
    margin-bottom: 2px;
    font-size: 13px;
    text-transform: uppercase;
}

.contact-item .c-text h6 {
    margin: 0;
    word-break: break-all;
}